.task-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-top: 0.8rem;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background);
  margin: 10px 0;
  padding: 10px;
  width: 85%;
  height: 2.5rem;
  border-radius: 50px;
  overflow: hidden;
}


.task-title{
  font-size: var(--font-size-large);
  font-family: var(--cta-font);
  color: var(--text);
  width: 80%;
  text-align: left;
  margin-left: 10px;

}

.task-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  height: auto;
}

.task-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--text);
  border: none;
  padding: 5px;
  border-radius: 50%;
  height: 2.8rem;
  width: 2.8rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--primary);
}

.task-btn:hover {
  background-color: var(--background);
  border: 2px solid var(--accent);
}
.delete-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  color: var(--text);
  border: none;
  padding: 5px;
  border-radius: 50%;
  height: 3.2rem;
  width: 3.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 2px solid var(--background);
}


.delete-btn:hover {
  background-color: var(--primary);
  border: 2px solid var(--accent);
}

.completed > .task {
  opacity: 0.25; /* Makes the task semi-transparent */
  text-decoration: line-through; /* Adds a strikethrough */
  color: #888; /* Changes the text color to a light gray */
}