.landing-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.land-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
}

.land-right {
  width: 50%;
}
